<!-- <form (ngSubmit)="onSubmit()">
  <label>Email</label><br>
  <input type="email" name="email" [(ngModel)]="email">
  <br>
  <label>Role</label>
  <br>
  <textarea name="role" rows="5" cols="100" [(ngModel)]="role">
    <br>
  <input type="checkbox" name="clearedQualityGate" [(ngModel)]="clearedQualityGate">
  <br>
  <label>Cleared Quality Gate</label>
  <br>
  <label>Stream</label>
  <br>
  <input type="text" name="stream" [(ngModel)]="stream">
  <br>
  <input type="submit" value="Submit">
</form>

<div class="emailValidator" *ngIf="emailIsValid">
  <p>{{email}} is not a valid FDM Group email.</p>
</div> -->
